<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean name="sequenceGenerator" class="com.springexample.SpringCore.POJOs.SequenceGenerator">
        <property name="prefix">
            <value>30</value>
        </property>
        <property name="suffix">
            <value>A</value>
        </property>
        <property name="initial">
            <value>1000</value>
        </property>
        <property name="counter">
            <value>3</value>
        </property>
    </bean>

    <bean id="seqGeneratorConstructor" class="com.springexample.SpringCore.POJOs.SequenceGenerator">
        <constructor-arg>
            <value>30</value>
        </constructor-arg>
        <constructor-arg>
            <value>A</value>
        </constructor-arg>
        <constructor-arg>
            <value>10000</value>
        </constructor-arg>
        <constructor-arg>
            <value>0</value>
        </constructor-arg>
    </bean>

</beans>