<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean name="sequenceGenerator" class="com.springexample.SpringCore.POJOs.SequenceGenerator">
        <property name="prefix">
            <value>30</value>
        </property>
        <property name="suffix">
            <value>A</value>
        </property>
        <property name="initial">
            <value>1000</value>
        </property>
        <property name="counter">
            <value>3</value>
        </property>
    </bean>

    <bean id="seqGeneratorConstructor" class="com.springexample.SpringCore.POJOs.SequenceGenerator">
        <constructor-arg>
            <value>30</value>
        </constructor-arg>
        <constructor-arg>
            <value>A</value>
        </constructor-arg>
        <constructor-arg>
            <value>10000</value>
        </constructor-arg>
        <constructor-arg>
            <value>0</value>
        </constructor-arg>
    </bean>

    <!-- With both the <type> and <index> attributes set, Spring is able to find
     the expected constructor for a bean accurately-->
    <bean id="sequenceConstructor1" class="com.springexample.SpringCore.POJOs.SequenceGenerator">
        <constructor-arg type="java.lang.String" index="0" value="30"/>
        <constructor-arg type="int" index="1" value="100000"/>
        <property name="suffix" value="A"/>
    </bean>

    <!-- Another approach to avoid ambiguity in constructor is to specify the constructor
     parameter names with the <name> attribute -->
    <bean id="sequenceConstructor2" class="com.springexample.SpringCore.POJOs.SequenceGenerator">
        <constructor-arg name="initial" value="1000000"/>
        <constructor-arg name="suffix" value="AA"/>
        <property name="prefix" value="30"/>
    </bean>

</beans>